<launch>
  <node
    pkg="skyrats_cbr_2021"
    type="cross_node"
    name="cross_node" 
    output="screen"
  />
  <node
    pkg="skyrats_cbr_2021"
    type="control.py"
    name="control"
    output="screen"
  />
  <node
    pkg="skyrats_cbr_2021"
    type="MRS_MAV.py"
    name="MRS_MAV"
    output="screen"
  />
</launch> 