<launch>
  <node
    pkg="CBR_2021"
    type="cross_node"
    name="cross_node" 
    output="screen"
  />
  <node
    pkg="CBR_2021"
    type="control.py"
    name="control"
    output="screen"
  />
  <node
    pkg="CBR_2021"
    type="varredura.py"
    name="varredura"
    output="screen"
  /> 
  <node
    pkg="CBR_2021"
    type="MRS_MAV.py"
    name="MRS_MAV"
    output="screen"
  />
    <node
    pkg="CBR_2021"
    type="tubo.py"
    name="pipeline_detector_node"
    output="screen"
  />
</launch> 